<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673059532182-t4i06bmngjfv8a9e88s9uqgfdusbaa1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673059532182-t4i06bmngjfv8a9e88s9uqgfdusbaa1h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>673059532182-qkp28c0ks8jcstlp13mmbeou06hllv21.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBK4xbuk-K9IeQWflYdckUERmwfY7ggVmo</string>
	<key>GCM_SENDER_ID</key>
	<string>673059532182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medisafe</string>
	<key>PROJECT_ID</key>
	<string>medisafe-8dfae</string>
	<key>STORAGE_BUCKET</key>
	<string>medisafe-8dfae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673059532182:ios:a0bf87b95140e9d9d6c1b7</string>
</dict>
</plist>